<h2>Playing <%= "#{$count} of #{$number}" %>: <%= $titles[$count] %></h2>

<%= form_tag('/youtubeframe', :id => "csv") do %>
<%= hidden_field_tag 'duration_array', $durationscsv %>
<%= hidden_field_tag 'title_array', $titlescsv %>
<%= hidden_field_tag 'url_array', $urlcsv %>
<%= hidden_field_tag 'count', $count %>
<%= hidden_field_tag 'number', $number %>
<%= submit_tag "Next" %>
<% end %>
<% $ms = (($durations[$count].to_i + 2) * 1000).to_s %>
<%= raw "<SCRIPT LANGUAGE=\"Javascript\">
<!--
function submitform() {
document.forms(\"csv\").submit()
}
setTimeout(\"submitform()\", #{$ms})
-->

</SCRIPT>" %>

<iframe title="YouTube video player" class="youtube-player" type="text/html" width="600" height="0" src=<%= raw "#{ $url[$count] }&autoplay=1"%> frameborder="0" allowFullScreen></iframe>

<object height="0" width="0"> <param name="movie" value="http://player.soundcloud.com/player.swf?url=http%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F<%= $url[$count] %>&amp;show_comments=true&amp;auto_play=true&amp;color=ff7700"></param> <param name="allowscriptaccess" value="always"></param>

<embed allowscriptaccess="always" height="0" src="http://player.soundcloud.com/player.swf?url=http%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F<%= $url[$count] %>&amp;show_comments=true&amp;auto_play=true&amp;color=ff7700" type="application/x-shockwave-flash" width="100%"></embed> </object>